
{% extends "base.html"%}
{% load static %}
{% block title %} Detection Verification System {% endblock title %}

{% block headc %}


{% endblock headc %}

{% block content %}

<style>

.content {
  font-family: "Open Sans Regular";
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 40px;
  -webkit-align-content: center;
  align-content: center;
}

</style>

<div class="row" style="margin-left: 5%;margin-right: 5%;">
  <section>
<h2 style="font-family: Open Sans Regular;">Home Page</h2>
    <p style="font-family: Open Sans Regular;"><font size="4">
         


<br>
<a style='font-size:23px;'>&#8226;</a> Hi for more Please access my https://binitmsn.pythonanywhere.com/ website.
<br>






</body>
</html>



{% endblock content %}






